/* Main carousel style */
.carousel {
  padding-bottom: 35%;
}

/* Indicators list style */
.article-slide .carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 5%;
  width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 80px;
  height: 80px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
  border: 2px solid #FFFFFF;
  float: left;
  height: auto;
  left: 0;
  width: 100%;
}

/* Indicators active image style */
.article-slide .carousel-indicators .active img {
  border: 2px solid #428BCA;
  opacity: 0.7;
}

.cont-slider {
  width: 300px;
  height: 300px;
  border: 1px solid #eee;
  margin-top: 3%;
}

.cont-slider img {
  padding: 5%;
}
