#detailsModal.modal.fade.bs-example-modal-lg[tabindex="-1" role="dialog" aria-labelledby="myModalLabel"]
  .modal-dialog.modal-lg[role="document"]
    .modal-content
      .modal-header
        button.close[type="button" data-dismiss="modal" aria-label="Close"]
          span[aria-hidden="true"]
            | ×
        h4#myModalLabel.modal-title
          | Các sản phẩm còn phụ thuộc
      .modal-body
        table#table-scl.table.table-hover
          thead
            tr
              th
                | ID
              th
                | Hình ảnh
              th
                | Tên sản phẩm
              th
                | Số lượng
              th
                | Giá bán
              th
                | Danh mục
              th
                | Trạng thái
          tbody#viewLoad
      .modal-footer
        button.btn.btn-default[type="button" data-dismiss="modal"]
          | Close
        = link_to "Xóa danh sách và tất cả các sản phẩm phụ thuộc", admin_category_path(@category), class: "btn btn-danger", id: "btn-remove-category", method: :delete, data: {confirm: "Bạn có chắc không?"}

  script#data-template[type="x-tmpl-mustache"]
    tr
      td
        | {{ID}}
      td
        img.img-thumbnail[src="{{IMAGE}}"]
      td
        | {{NAME}}
      td
        | {{QUANTITY}}
      td
        | {{PRICE}}
      td
        | {{CATEGORY}}
      td
        | {{#STATUS}}
        span.label.label-warning
          | Đã hết hàng
        | {{/STATUS}} {{#STATUS1}}
        span.label.label-info
          | Vẩn còn hàng
        | {{/STATUS1}}
