#detailsModal.modal.fade.bs-example-modal-lg[tabindex="-1" role="dialog" aria-labelledby="myModalLabel"]
  .modal-dialog.modal-lg[role="document"]
    .modal-content
      .modal-header
        button.close[type="button" data-dismiss="modal" aria-label="Close"]
          span[aria-hidden="true"]
            | ×
        h4#myModalLabel.modal-title
          | Chi Tiết Đơn Hàng
      .modal-body
        table#table-scl.table.table-hover
          thead
            tr
              th
                | Hình ảnh
              th
                | Tên sản phẩm
              th
                | Giá bán
              th
                | Trạng thái
          tbody#viewLoad
        .row
          .col-md-12
            .col-md-6.pull-right
              span.label.label-danger.pull-right
                strong#totalPri
      .modal-footer
        button.btn.btn-default[type="button" data-dismiss="modal"]
          | Close
        = button_tag(type: "button", class: "btn btn-primary", id: "btn-xn") do
          | Xác Nhận
        = button_tag(type: "button", class: "btn btn-danger", id: "btn-h") do
          | Hủy Đơn

  script#data-template[type="x-tmpl-mustache"]
    tr
      td
        img.img-thumbnail.col-md-10[src="{{IMAGE}}"]
      td
        | {{NAME}}
      td
        | {{PRICE}}
      td
        | {{#STATUS}}
        span.label.label-warning
          | Đã hết hàng
        | {{/STATUS}} {{#STATUS1}}
        span.label.label-info
          | Vẩn còn hàng
        | {{/STATUS1}}
