<div class="modal fade bs-example-modal-lg" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Chi Tiết Đơn Hàng</h4>
      </div>
      <div class="modal-body">
        <table id="table-scl" class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Hình ảnh</th>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Giá bán</th>
              <th>Tổng tiền</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody id="viewLoad" ></tbody>
        </table>
        <div class="row" >
          <div class="col-md-12" >
            <div class="col-md-6 pull-right" >
              <span class="label label-danger pull-right">
                <strong id="totalPri" ></strong>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= link_to "Xác Nhận", "#", class: "btn btn-primary", id: "btn-xn" %>
          <%= link_to "Hủy Đơn", "#", class: "btn btn-danger", id: "btn-h" %>
      </div>
    </div>
  </div>
</div>
<script id="data-template" type="x-tmpl-mustache">
  <tr>
    <td>{{ID}}</td>
    <td>
      <img src="{{IMAGE}}" class="img-thumbnail">
    </td>
    <td>{{NAME}}</td>
    <td>{{QUANTITY}}</td>
    <td>{{PRICE}}</td>
    <td>{{TOTALPRICE}}</td>
    <td>
      {{#STATUS}}
        <span class="label label-warning">Đã hết hàng</span>
      {{/STATUS}}
      {{#STATUS1}}
        <span class="label label-info">Vẩn còn hàng</span>
      {{/STATUS1}}
    </td>
  </tr>
</script>
