<% provide :title, "Trang quản trị - Danh sách danh mục" %>
<% provide :search_text, admin_categories_url %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-home"></i></a>
      </li>
      <li class="active">Danh sách danh mục</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-heading">
        Danh sách danh mục
        <% Category.find_by(id: 1).descendants.each do |obj| %>
          <%= "     " + obj.name %>
        <% end %>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="sub" class="table-responsive">
            <br>
            <div class="panel panel-info">
              <div class="panel-heading">Hiện thị danh mục</div>
              <div class="panel-body">
                <ul class="tree" >
                  <%= render partial: "admin/categories/shared/category", collection: @categories, as: "category" %>
                </ul>
              </div>
            </div>
            <%= will_paginate %>
            <br>
            <% @x = '<i class="fa fa-plus-square fa-1x"></i>' %>

            <%= link_to (@x), new_admin_category_url, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

