<% provide :title, "Trang quản trị - Danh sách sản phẩm" %>
<% provide :search_text, admin_products_path %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-home"></i></a>
      </li>
      <li class="active">Danh Sách Sản Phẩm</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-heading">
        Danh Sách Sản Phẩm
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên Sản Phẩm</th>
                  <th>Giá</th>
                  <th>Số Lượng</th>
                  <th>Ảnh Sản Phẩm</th>
                  <th>Danh Mục</th>
                  <th>Trạng thái kho</th>
                  <th>Trạng thái hàng</th>
                  <th colspan="2" >Action</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "admin/products/shared/listtable", collection: @products, as: "product" %>
              </tbody>
            </table>

            <%= will_paginate %>
            <br>
            <%= link_to raw('<i class="fa fa-plus-square fa-1x"></i>'), new_admin_product_url, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
